<!doctype html>
<html lang="en">

<head>
    <title>Answer</title>
    <meta name="description" content="Answer to Backend Engineering Challenge">
    <meta name="author" content="Oli Harrison">
    <meta name="robots" content="noindex">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

</head>

<body style="padding: 3rem;font-size: 16px;">
    
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}

        <button type="Submit" class="btn btn-secondary">Submit</button>
    </form>
    <pre style="background-color: black; color: white; border-radius: 10px; margin-top:10px" id="json">
        {% if json_obj %}
        {{json_obj}}
        {% elif date_not_found %}
        No orders were found for this date...please try again.
        {% else %}
        Select a date (using your keyboard, or by clicking on the calendar icon), and hit Enter or click Submit...
        {% endif %}
    </pre>
    
    <script>
        (function() {
        var element = document.getElementById("json");
        var obj = JSON.parse(element.innerText);
        element.innerHTML = JSON.stringify(obj, undefined, 4);
    })();
    </script>
    
</body>

</html>